.factors {
	background-color: #F2F2F2;
	padding: 120px 0;
	.container {

	}
	&__header {
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #333333;
		margin-bottom: 110px;
	}
	&__info {
		display: flex;
		word-break: break-word;
		&-item {
			flex: 33%;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
			&-img {
				margin-bottom: 30px;
				max-height: 75px;
			}
			&-header {
				font-weight: bold;
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 25px;
			}
			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 25px;
			}
			ul {
    			list-style: none;
    			li {
    				position: relative;
					font-weight: 300;
					font-size: 14px;
					line-height: 19px;
					padding-left: 8px;
					&:before {
					    content:  "-";
					    position: absolute;
					    left: 0;
					}
				}
			}
		}
	}
}