.lifecycle {
	padding: 100px 0;
	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}
	@media screen and (max-width: 600px) {
		padding: 30px 0;
	}
	.container {

	}
	&__header {
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		text-align: center;
		color: #000000;
		margin-bottom: 45px;
		@media screen and (max-width: 768px) {
			font-size: 28px;
			line-height: 40px;
		}
	}
	&__subheader {
		display: block;
		font-weight: 300;
		font-size: 24px;
		line-height: 33px;
		text-align: center;
		color: #000000;
	}
	&__info {
		display: flex;
		position: relative;
		@media screen and (max-width: 1024px) {
			justify-content: space-between;
		}
		@media screen and (max-width: 768px) {
			flex-direction: column;
			padding: 30px 0;
		}
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			li {
				font-weight: bold;
				font-size: 18px;
				line-height: 25px;
				color: #000000;
				height: 45px;
				display: flex;
				align-items: center;
				min-width: 182px;
				max-width: 182px;
				@media screen and (max-width: 768px) {
					max-width: 100%;
				}
			}
			&:first-of-type {
				li {
					text-align: right;
					padding-right: 10px;
					border-right: 1px solid #000000;
					justify-content: flex-end;
					position: relative;
					z-index: 1;
					@media screen and (max-width: 1024px) {
						&:after {
							display: none;
						}
					}
					@media screen and (max-width: 768px) {
						justify-content: center;
						border-right: none;
						text-align: center;
						padding-right: 0;
						margin: 0 0 10px 0 !important;
					}
					&:after {
							content: "";
							position: absolute;
							width: 217px;
							height: 44px;
							left: 195px;
							bottom: -18px;
							background-repeat: no-repeat;
						}
					&:nth-child(1) {
						margin-top: 100px;
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
						}
						&:after {
							background-image: url(../img/svg/line-l-t.svg);
						}
					}
					&:nth-child(2) {
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
						}
						&:after {
							width: 174px;
							background-image: url(../img/svg/line-l-m.svg);
						}
					}
					&:nth-child(3) {
						margin-bottom: 100px;
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
							margin-bottom: 50px;
						}
						&:after {
							bottom: 0;
							top: -18px;
							background-image: url(../img/svg/line-l-b.svg);
						}
					}
				}
			}
			&:nth-of-type(2) {
				li {
					text-align: left;
					padding-left: 10px;
					border-left: 1px solid #000000;
					justify-content: flex-start;
					position: relative;
					@media screen and (max-width: 1024px) {
						&:after {
							display: none;
						}
					}
					@media screen and (max-width: 768px) {
						justify-content: center;
						border-left: none;
						text-align: center;
						padding-left: 0;
						margin: 0 0 10px 0 !important;
					}
					&:after {
						content: "";
						position: absolute;
						width: 217px;
						height: 44px;
						right: 195px;
						bottom: -18px;
						background-repeat: no-repeat;
					}

					&:nth-child(1) {
						margin-top: 100px;
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
						}
						&:after {
							background-image: url(../img/svg/line-r-t.svg);
						}
					}
					&:nth-child(2) {
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
						}
						&:after {
							width: 174px;
							background-image: url(../img/svg/line-r-m.svg);
						}
					}
					&:nth-child(3) {
						margin-bottom: 100px;
						@media screen and (max-width: 1024px) {
							margin-top: 50px;
							margin-bottom: 50px;
						}
						&:after {
							bottom: 0;
							top: -18px;
							background-image: url(../img/svg/line-r-b.svg);
						}
					}
				}
			}
		}
	}
	&__sphere {
		position: relative;
		@media screen and (max-width: 1024px) {
			position: absolute;
			width: 50%;
			left: 50%;
			transform: translate(-50%, 0);
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
		&-img {
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: -1;
		}
		&-overlay {
			// width: 337px;
			// height: 337px;
			width: 43%;
			height: 57%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			z-index: 1;
			opacity: 0.15;
		}
	}
	&__text {
		text-align: center;
		position: relative;
		.reveal {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		.first-content {
			overflow: hidden;
			position: relative;
			transition: 1s;
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 75%;
				width: 100%;
				background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255, 1));
				background: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255, 1));
				background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255, 1));
				transition: 1s;
			}
			&.revealed {
				&:before {
					background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255, 0));
					background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255, 0));
					background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255, 0));
					transition: 1s;
				}
			}
			@media screen and (max-width: 768px) {
				&:before {
					display: none;
				}
			}
		}
		.second-content {
			display: none;
			@media screen and (max-width: 768px) {
				display: block;
			}
		}
		p {
			margin-bottom: 20px;
		}
	}
}
