.potential {
	padding: 100px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__info {
		//flex: 45%;
		width: 45%;
	}
	&__header {
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color: #333333;
		margin-bottom: 50px;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		p {
			margin-bottom: 30px;
		}
	}
	&__picture {
		//flex: 55%;
		width: 55%;
		margin-left: -10%;
		box-shadow: 0px 18px 40px #828282;
		margin-right: 100px;
	}
}